.controls {
    background-color: $orange;
    border: 3px solid $black;
    border-radius: 5px;
    padding: 2% 5%;
    margin: 2%;
    display: flex;
    justify-content: space-between;
    width: 70%;

    input,
    label,
    button,
    select,
    option {
        font-family: sans-serif;

        color: $black;
        &:focus {
            outline: none;
        }
    }

    .speedContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 2%;
        border-radius: 3px;
        width: 145px;
        background-color: $greyBlack;

        label {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $orange;
        }
        label:hover {
            border-bottom: 1px solid $black;
        }
    }

    .presetContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 145px;
        padding: 0 2%;
        border-radius: 3px;
        background-color: $greyBlack;
        select {
            border-radius: 3px;
            font-size: 0.7rem;
            font-weight: 500;
        }
    }

    .buttonContainer {
        display: flex;
        flex-direction: column;
        width: 145px;
        padding: 1% 2%;
        border-radius: 3px;
        background-color: $greyBlack;
    }
    button {
        // display: inline-block;
        border: none;
        border-radius: 3px;
        padding: 0.5rem 1rem;
        margin: 2%;
        text-decoration: none;
        background: $black;
        font-size: 0.8rem;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:hover {
            background: $darkOrange;
        }
        &:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
        }
        &:active {
            transform: scale(0.99);
        }
    }
}
