// vars

$black: #222831;
$greyBlack: #eeeeee;
$orange: #00adb5;
$darkOrange: #393e46;
$white: #f2f0eb;

// font imports
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto&display=swap");

// imports
@import "reset.scss";
@import "global.scss";
@import "board.scss";
@import "controls.scss";
